# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# SQLite databáze
*.sqlite3

# Logs
*.log

# Local settings
local_settings.py

# Environment
.env
.env.*
venv/
.venv/
env/

# Media files (uploaded by users)
media/

# Staticfiles (if collected locally)
staticfiles/

# Django specific
*.pot
*.pyc
*.pyo
*.mo

# Coverage & test
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/
coverage.xml
nosetests.xml
testdb.sqlite3

# IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# nix & idx
.idx/
dev.nix
result
*.rej
*.orig

