{# templates/base.html #}
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Redakční Systém{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/pico.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>
<body>
<!--  <header>
    <nav>
      <a href="{% url 'reports:index' %}">Domů</a> |
      
      <div class="dropdown">
        <span>Zprávy</span>
        <div class="dropdown-content">
          <a href="{% url 'reports:published_report_list' %}">Publikované</a><br>
          <a href="{% url 'reports:open_report_list' %}">Rozpracované</a>
        </div>
      </div> |

      {% if user.is_authenticated %}
        <a href="{% url 'profiles:profile' user.username %}">Profil</a> |
        Přihlášen jako {{ user.username }}
        <form method="post" action="{% url 'reports:index' %}">
          {% csrf_token %}
          <button type="submit" name="logout">Odhlásit se</button>
        </form>
        <a href="{% url 'password_change' %}">Změnit heslo</a>
      {% else %}
        <a href="{% url 'login' %}">Přihlásit se</a> |
        <a href="{% url 'profiles:register' %}">Registrovat se</a>
      {% endif %}
    </nav>
    <hr>
  </header> -->

  <header>
    <nav class="container">
      <ul>
        <li><a href="{% url 'reports:index' %}" class="contrast">Domů</a></li>
        <li>
          <details role="list" dir="rtl">
            <summary aria-haspopup="listbox" role="button" class="contrast">Zprávy</summary>
            <ul role="listbox">
              <li><a href="{% url 'reports:published_report_list' %}" class="contrast">Publikované</a></li>
              <li><a href="{% url 'reports:open_report_list' %}" class="contrast">Rozpracované</a></li>
            </ul>
          </details>
        </li>
      </ul>
      <ul>
        {% if user.is_authenticated %}
          <li><a href="{% url 'profiles:profile' user.username %}" class="contrast">Profil</a></li>
          <li><span>Přihlášen jako {{ user.username }}</span></li>
          <li>
            <form method="post" action="{% url 'reports:index' %}">
              {% csrf_token %}
              <button type="submit" name="logout" class="link-button">Odhlásit se</button>
            </form>
          </li>
          <li><a href="{% url 'password_change' %}" class="contrast">Změnit heslo</a></li>
        {% else %}
          <li><a href="{% url 'login' %}" class="contrast">Přihlásit se</a></li>
          <li><a href="{% url 'profiles:register' %}" class="contrast">Registrovat se</a></li>
        {% endif %}
      </ul>
    </nav>
    <hr>
  </header>

  <main>
    {% block content %}
      {# Sem se vloží obsah jednotlivých stránek #}
    {% endblock %}
  </main>

  <footer>
    <p>© 2025 Redakční Systém NMS</p>
  </footer>

</body>
</html>